.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.chat {
	position: fixed;
	top: 50px;
	right: 25px;
	display: flex;
	background-color: #242526;
	flex-direction: column;
	width: 300px;
	border-radius: 10px;
}