.container {
    width: 100%;
}

.addStatus {
    background-color: #242526; 
    border-radius: 5px;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	align-items: center;
	margin-bottom: 5px;
}

.profilePic {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	margin-left: 20px;
}

.information {
	flex-direction: column;
	line-height: 1.1px;
	margin-left: 5px;
	width: 100%;
}

.name {
	font-size: 15px;
	font-weight: bold;
}

.time {
	font-size: 12px;
	color: #b0b3b8;
}

.image {
	display: flex;
	flex-direction: column;
	width: 624px;
	margin-bottom: 1px;
}

.dots {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 20px;
	gap: 5px;
}

.svg {
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	font-size: 15px;
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.background:hover {
	background-color: #3a3b3c;
}

.simbol {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
}

.yourPost {
	display: flex;
	width: 600px;
	margin: 5px 20px;
	word-wrap: break-word;
}

.field {
	width: 100%;
}


.cross {
	display: flex;
	align-items: center;
	width: 30px;
	height: 20px;
}

.border {
	border-bottom: 1px solid #3a3b3c;
	width: 100%;
}

.yourLike {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
}

.finger {
	width: 50px;
	margin-left: 20px;
}


.components {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.holder {
	margin: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
}

.holder:hover {
	background-color: #3a3b3c;
}

.description {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #acafb3;
	margin-left: 2px;
	font-weight: bold;
}