.container {
	display: flex;
	flex-direction: column;
}

.border {
	margin-top: 10px;
	border-bottom: 1px solid #3a3b3c;
	width: 100%;
}

.box {
	display: flex;
	flex-direction: row;
}

.title {
	color: #acafb3;
	width: 100%;
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.background:hover {
	background-color: #3a3b3c;
}

.dots {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 20px;
	gap: 5px;
}

.group {
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.wrapper {
	display: flex;
	padding-left: 5px;
	align-items: center;
}

 .group:hover {
	background-color: #3a3b3c;
} 

.pac {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.name {
	margin-left: 8px;
	font-size: 13px;
	font-weight: bold;
}

.txt {
	margin-left: 8px;
	font-size: 12px;
	font-weight: bold;
	color:#acafb3
}

.events {
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin-left: 10px;
	height: 30px;
}

.events:hover {
	background-color: #3a3b3c;
}
