.container {
	display: flex;
}

.chat {
	display: flex;
	margin: 10px 10px;
}

.wrapper {
	display: flex;
}

.inbox {
    display: flex;
}

.components {
	display: flex;
	border: none;
	outline: none;
    color: white;
    font-size: 13px;
    background-color: transparent;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.components:hover {
    background-color: #3a3b3c;
}
