.container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.status {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.post {
	display: flex;
	margin-bottom: 15px;
	background-color: #242526;
	border-radius: 5px;
}


.wrapper {
	display: flex;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	align-items: center;
	margin-bottom: 5px;
}

.profilePic {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	margin-left: 20px;
}

.information {
	flex-direction: column;
	line-height: 1.1px;
	margin-left: 5px;
	width: 100%;
}

.name {
	font-size: 15px;
	font-weight: bold;
}

.time {
	font-size: 12px;
	color: #b0b3b8;
}

.image {
	display: flex;
	flex-direction: column;
	width: 624px;
	margin-bottom: 1px;
}

.dots {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 20px;
	gap: 5px;
}

.svg {
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	font-size: 15px;
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.background:hover {
	background-color: #3a3b3c;
}

.simbol {
	display: flex;
	align-items: center;
	width: 30px;
    justify-content: center;
	height: 30px;
	border-radius: 20px;
}

.cross {
	display: flex;
	align-items: center;
	width: 30px;
	height: 20px;
	
}


.svg:hover {
	background-color: #3a3b3c;
}

.simbol:hover {
	background-color: #3a3b3c;
}

.border {
	border-bottom: 1px solid #3a3b3c;
	width: 100%;
}

.yourLike {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	border-bottom: 1px solid #3a3b3c;
}

.finger {
	width: 50px;
	margin-left: 20px;
}

.interaction {
	width: 10px;
	height: 20px;
}

.activity {
	padding-left: 30px;
}

.compile {
	display: flex;
	width: 95%;
	margin: 10px;
}

.components {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.holder {
	margin: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
}

.holder:hover {
	background-color: #3a3b3c;
}

.emoji {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23px;
	height: 23px;
	color: red;
}

.description {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #acafb3;
	margin-left: 2px;
	font-weight: bold;
}

.group {
	display: flex;
	width: 95%;
	margin: 10px;
}

.box {
	display: flex;	
	margin-right: 5px;
}

.avatar {
	display: flex;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.input {
	width: 100%;
	display: flex;
}

.search {
	display: flex;
	align-items: center;
	background-color: #3a3b3c;
	width: 100%;
	border-radius: 20px;
	height: 35px;
	border: none;
	outline: none;
}

.search::placeholder {
	font-size: 15px;
	color: #acafb3;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.photo {
	height: 500px;
	width: auto;
}


