.title {
	color: #acafb3;
	width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 30px;
    border-radius: 20px;
    height: 25px;
}


.bg:hover{ 
    background-color: #3a3b3c;
}